body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://w.forfun.com/fetch/24/244438ac7a68a9365e8215b342b805b8.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.logo {
  width: 100px;
  height: 100px;
  padding: 30px;
}

.question-number-container {
  background-color: #ecc440;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.owl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  width: 280px;
  height: 280px;
  background-image: url("https://i.ibb.co/ZVLBs1P/image-removebg-preview-4.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 2.5s ease-in-out;
}

.button-62 {
  position: relative;
  background: linear-gradient(to bottom right, #d06ce0, #1b0b54);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(225, 0, 255, 0.5),
    0.125rem 0.125rem 1rem rgba(247, 0, 218, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(214, 0, 210, 0.5),
    0.125rem 0.125rem 1rem rgba(190, 0, 243, 0.5);
}

nav {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
  line-height: 80px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}

.checkbtn {
  display: none;
}

@media (max-width: 858px) {
  label.logo {
    padding-left: 10px;
  }

  nav ul {
    display: none;
  }
}

.menu {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
